<f:layout name="Default" />
<f:section name="main">
<style>
    .subheadResult { float: left; padding-right: 15px; }
    .bs-btn.active {
            background: #A10631;
            border: medium none;
            border-radius: 5px 5px 5px 5px;
            color: #FFFFFF;
            cursor: pointer;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 16px;
            line-height: 20px;
            margin-right: 20px;
            padding: 4px 10px;
            text-align: center;
            text-transform: uppercase;
    }
</style>
    <form class="online-form-last" action="" method="POST">

            <div id="id-thema_div">
                <span class="subheadResult"><f:translate key='pits_elearn.selectChapter'></f:translate></span>
                  <select name="tx_pitselearn_pitselearn[tnt_thema_chapter]">
                        <option value="0"><f:translate key='pits_elearn.select_chapter'></f:translate></option>
                        <f:for each="{resultRecord.elearnings}" as="themaName" key="uid">
                              <option value="{uid}">{themaName}</option>>
                        </f:for>
                         <input type="hidden" name="tx_pitselearn_pitselearn[tnt_thema]" class="selects-holder" value="{resultRecord.themaId}"/>
            </div>
                    </select>           
                    <input type="submit" class="bs-btn active" value="go"/>
    </form>
</f:section>